body {
    
    margin: 0;
    color: #6c7279;
    font-size: 14px;
    font-family: "Raleway", "sans-serif";
    
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h4 {
    margin: 0;
}

/* conteiner */
.conteiner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/* Header */

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
}


.header__inner{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    border-bottom: 1px solid #515369;
    align-items: center;
}

/* NAAV */
.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;

}

.nav_link {
    margin-left: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    
    opacity: 0.75;

    transition: opacity .1s linear;
}


.nav_link:hover {
    opacity: 1;
    
}

/* inro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    background: url("img/intro-bg.jpg")
    no-repeat center /
    cover;
    padding-top: 100px;
    text-align: center;
}

.intro__title {
    margin: 0;
    font-family: "Open Sans",
    sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    
}

.intro__inner {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
}
.intro__subtitle {
    font-size: 22px;
    color: white;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 30px;  
    margin-bottom: 60px;
}


/* Button */

.btn {
    font-size: 13px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;
    border-radius: 2px ;
    display: inline-block;
    vertical-align: top;
    padding: 14px 44px;

    transition: .1s linear;
}

.btn--2red {
    
    background-color: red;
}

.btn--2red:hover {
    background-color: rgb(218, 7, 7);
}


/* feature */

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.features__item {
    width: 33.33%;
    text-align: center;
    padding: 0  40px;

    margin: 25px 0;
    
    
}

.features__icon {
    margin-bottom: 20px;
}

.features__title {
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.features__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}


/* works */

.works{
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;

    position: relative;
    overflow: hidden;
    
}

.works__item:hover .works__content {
    opacity: 1;
} 

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    opacity: 0;
    
    background-color: rgba(232, 69, 69, .9);
    
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .2s linear;
}

.works__title {
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;

    margin-bottom: 5px;
}

.works__text {
    font-size: 14px;
    color: white;
}


